.courseContainer {
  color: rgb(36, 30, 30);
  display: flex;
  flex-direction: column;
  background-color: #91744f;
  border-radius: 10px;
  width: 200px;
  height: 200px;
  padding: 10px;
  margin: 5px;
  justify-content: space-evenly;
}

.courseContainerFull {
  color: rgb(36, 30, 30);
  display: flex;
  flex-direction: column;
  background-color: #bb251ad7;
  border-radius: 10px;
  width: 200px;
  height: 200px;
  padding: 10px;
  margin: 5px;
  justify-content: space-evenly;
}

.courseContainerEnrolled {
  color: rgb(36, 30, 30);
  display: flex;
  flex-direction: column;
  background-color: #afca17;
  border-radius: 10px;
  width: 200px;
  height: 200px;
  padding: 10px;
  margin: 5px;
  justify-content: space-evenly;
}

.courseContainer:hover {
  /* background-color: #9696967c; */
  box-shadow: 0 0 20px #000000;
}

.courseItemsContainer {
  display: flex;
  justify-content: center;
}

.courseInformation {
  display: flex;
  flex-direction: column;
}
