.courseSelectionContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-height: 100%;
  align-items: center;
}

.titleContainer {
  color: black;
  background-color: rgba(241, 178, 82, 0.747);
  padding: 10px;
  border: solid rgba(210, 105, 30, 0.719);
  border-radius: 20px;
}
