.StudentDropDown {
  font-family: Shrine, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  width: 200px;
  /* height: 30px; */
  font-size: 20px;
  overflow: hidden;
  margin: 20px;
}

optgroup {
  font-family: Shrine, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 20px;
}
