.courseListContainer {
  display: flex;
  padding: 5px;
  border: #9b0ca588 solid 5px;
  background-color: #00000088;
  list-style-type: none;
  flex-wrap: wrap;
  overflow: hidden;
  justify-content: center;
}
